In [6]:
import pandas as pd
import csv

In [7]:
df=pd.read_csv("finanzas2020[1].csv",sep="\t",skipinitialspace=True)

In [8]:
df.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,-760,343,265,-624,-390,-796,601,-780,-491,645,-248,714
1,223,491,-397,-123,6,-115,157,-741,-951,267,14,-596
2,-872,-913,558,278,544,-223,607,-113,348,576,-977,195
3,111,-842,730,-761,158,-963,-290,-669,191,130,170,-274
4,919,111,-688,15,395,9,553,297,-302,695,730,-731

In [9]:
df.dtypes

Enero         object
Febrero        int64
Marzo          int64
Abril          int64
Mayo           int64
Junio          int64
Julio         object
Agosto         int64
Septiembre    object
Octubre       object
Noviembre     object
Diciembre      int64
dtype: object

In [10]:
try:
    print("1.All string will be replaced by 0")
    for column in df:
        df[column]=df[column].str.replace('[^0-9]','',regex=True).astype(int)
except Exception as e:
    print("2.",e,"All string will be replaced by 0")
    for column in df:
        df[column]=df[column].replace(regex='([a-zA-Z])',value=int(0))
else:
    print("3.All missing value will be replace by 0")
    df.fillna(int(0))
finally:
    print("4.All negative numeric string will be converted into INT")
    for column in df:
        df[column]=df[column].replace("'",'',regex=True).astype(int)

1.All string will be replaced by 0
2. Can only use .str accessor with string values! All string will be replaced by 0
4.All negative numeric string will be converted into INT

In [11]:
df.dtypes

Enero         int32
Febrero       int32
Marzo         int32
Abril         int32
Mayo          int32
Junio         int32
Julio         int32
Agosto        int32
Septiembre    int32
Octubre       int32
Noviembre     int32
Diciembre     int32
dtype: object

In [12]:
df.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,760,343,265,-624,-390,-796,601,-780,-491,645,-248,714
1,223,491,-397,-123,6,-115,157,-741,-951,267,14,-596
2,872,-913,558,278,544,-223,607,-113,348,576,-977,195
3,111,-842,730,-761,158,-963,-290,-669,191,130,170,-274
4,919,111,-688,15,395,9,553,297,-302,695,730,-731

In [13]:
df.loc['Total por columna']=df.sum(axis=0)
print(df)

                   Enero  Febrero  Marzo  Abril   Mayo  Junio  Julio  Agosto  \
0                    760      343    265   -624   -390   -796    601    -780
1                    223      491   -397   -123      6   -115    157    -741
2                    872     -913    558    278    544   -223    607    -113
3                    111     -842    730   -761    158   -963   -290    -669
4                    919      111   -688     15    395      9    553     297
...                  ...      ...    ...    ...    ...    ...    ...     ...
96                   777     -905   -405    110   -444   -978   -285    -346
97                   380      946   -790      9    -59   -743   -296     321
98                   244      -44   -271    462    -55   -699    674    -203
99                   126     -221    290   -960   -303   -384    506     -11
Total por columna  47847       39  -7969 -18933  10304  -1477   7698   -8735

                   Septiembre  Octubre  Noviembre  Diciembre
0                        -491      645       -248        714
1                        -951      267         14       -596
2                         348      576       -977        195
3                         191      130        170       -274
4                        -302      695        730       -731
...                       ...      ...        ...        ...
96                        207     -363        696       -971
97                       -767      944       -116       -873
98                       -792     -848        263       -378
99                       -456      268        630        271
Total por columna      -10948     3412       1157      -3044

[101 rows x 12 columns]

In [14]:
df.iloc[100]

Enero         47847
Febrero          39
Marzo         -7969
Abril        -18933
Mayo          10304
Junio         -1477
Julio          7698
Agosto        -8735
Septiembre   -10948
Octubre        3412
Noviembre      1157
Diciembre     -3044
Name: Total por columna, dtype: int64

In [15]:
df.iloc[100].idxmax()

'Enero'

In [16]:
df.iloc[100].idxmin()

'Abril'

In [17]:
df.iloc[100].mean()

1612.5833333333333

In [18]:
df.iloc[100].sum()

19351

In [19]:
shape = df.shape

print('Número de columnas es :', shape[1])

Número de columnas es : 12

In [20]:
cols_a_sumar=['Enero','Febrero','Mayo','Julio','Octubre','Noviembre']
df[cols_a_sumar].sum()

Enero        95694
Febrero         78
Mayo         20608
Julio        15396
Octubre       6824
Noviembre     2314
dtype: int64

In [27]:
df.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,760,343,265,-624,-390,-796,601,-780,-491,645,-248,714
1,223,491,-397,-123,6,-115,157,-741,-951,267,14,-596
2,872,-913,558,278,544,-223,607,-113,348,576,-977,195
3,111,-842,730,-761,158,-963,-290,-669,191,130,170,-274
4,919,111,-688,15,395,9,553,297,-302,695,730,-731

In [29]:
sum_positives = df[df > 0].sum().sum()

369580.0

In [30]:
sum_negatives = df[df < 0].sum().sum()
print(sum_negatives)

-330878.0